<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Change Password</title>
</head>
<body>
<h1>Change Password</h1>

<!-- Error message if password change failed -->
<div th:if="${error}">
    <p style="color: red;" th:text="${error}"></p>
</div>

<!-- Change Password Form -->
<form action="/auth/change-password" method="post" th:object="${changePasswordRequest}">
    <label>Current Password:</label>
    <input type="password" th:field="*{currentPassword}" required/>

    <label>New Password:</label>
    <input type="password" th:field="*{newPassword}" required/>

<!--    <label>Confirm New Password:</label>-->
<!--    <input type="password" th:field="*{confirmPassword}" required/>-->

    <button type="submit">Change Password</button>
</form>

<!-- Success message if password change is successful -->
<div th:if="${message}">
    <p style="color: green;" th:text="${message}"></p>
</div>
</body>
</html>
